$color-white: #FFFFFF;
$color-purple: #D0D6F9;
$color-navy: #0B0D17;
$color-black: #000000;
$color-grey-blue: #616476;
$color-white-trans: rgba(255, 255, 255, 0.04);
$color-grey-trans: rgba(255, 255, 255, 0.5);
$color-hr: #383B4B;
