$font-base:'Bellefair', serif;
$font-alt:'Barlow Condensed', sans-serif;

$font-head1: 150px;
$font-head2: 100px;
$font-head3: 56px;
$font-head4: 32px;
$font-subhead1: 28px;
$font-general: 18px;
$font-subhead2: 14px;
$font-nav: 16px;