.crew__container {
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.crew__menu__container {
  display: flex;
  justify-content: flex-start;
  margin-left: 165.5px;
}

.crew__container__subs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 445px;
  margin-top: 154px;

  h4 {
    color: $color-white;
    font-weight: 400;
    font-size: $font-head4;
    font-family: $font-base;
    line-height: 36.67px;
    opacity: 0.5;
  }

  h3 {
    color: $color-white;
    font-family: $font-base;
    line-height: 64.18px;
    font-size: $font-head3;
    font-weight: 400;
    letter-spacing: 0;
    width: 800px;
    margin-top: 15px;
    margin-bottom: 27px;
    text-transform: uppercase;
  }

  p {
    color: $color-purple;
    font-family: $font-alt;
    font-size: $font-general;
    line-height: 32px;
    width: 444px;
    margin-bottom: 88px;
    font-style: normal;
  }
}

.crew__btn {
  display: inline-block;
  position: absolute;
  height: 15px;
  left: 167px;
  top: 791px;

  button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $color-white;
    opacity: 0.17;
    margin-right: 24px;
    border: none;

    &:hover {
        opacity: 1;
        cursor: pointer;
        border: none;
    }
  }
}

.crew__img {
  width: auto;
  margin: 0;
  position: absolute;
  left: 734.93px;
  bottom: 0;
}