.crew__container {
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.crew__menu__container {
  display: flex;
  justify-content: flex-start;
  margin-left: 165.5px;
}

.crew__container__subs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 445px;
  margin-top: 154px;

  h4 {
    color: $color-white;
    font-weight: 400;
    font-size: $font-head4;
    font-family: $font-base;
    line-height: 36.67px;
    opacity: 0.5;
  }

  h3 {
    color: $color-white;
    font-family: $font-base;
    line-height: 64.18px;
    font-size: $font-head3;
    font-weight: 400;
    letter-spacing: 0;
    width: 800px;
    margin-top: 15px;
    margin-bottom: 27px;
    text-transform: uppercase;
  }

  p {
    color: $color-purple;
    font-family: $font-alt;
    font-size: $font-general;
    line-height: 32px;
    width: 444px;
    margin-bottom: 88px;
    font-style: normal;
  }
}

.crew__btn {
  display: inline-block;
  position: absolute;
  height: 15px;
  left: 167px;
  top: 791px;

  button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $color-white;
    opacity: 0.17;
    margin-right: 24px;
    border: none;

    &:hover {
        opacity: 1;
        cursor: pointer;
        border: none;
    }
  }
}

.crew__img {
  width: auto;
  margin: 0;
  position: absolute;
  left: 734.93px;
  bottom: 0;
}

@media (max-width: 900px) {
  .crew__container{
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }

  .crew__menu__container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .crew__container__subs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    h4 {
      font-size: calc($font-head4 - 8px);
      line-height: 27.5px;
    }

    h3 {
      line-height: 45.84px;
      font-size: calc($font-head3 - 16px);
      margin-top: 8px;
      margin-bottom: 16px;
      text-transform: uppercase;
      width: auto;
    }

    p {
      font-size: $font-typical;
      line-height: 28px;
      width: auto;
      height: 84px;
      font-style: normal;
      margin-bottom: 0;
    }
  }

  .crew__img {
    width: auto;
    max-height: 532px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: 48vh auto;
  }

  .crew__btn{
    height: 10px;
    left: 340px;
    top: 442px;
    button{
      margin-right: 16px;
      width: 10px;
      height: 10px;
    }
  }
}
@media (max-width: 500px) {
  .crew__container{
    background-image: url("../../assets/crew/background-crew-mobile.jpg");
    height: 100vh;
  }

  .crew__menu__container {
    display: flex;
    flex-direction: column;
    height: 195px;
    width: 327px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .crew__container__subs {
    width: 327px;
    margin-top: 90vh;
    h4 {
      font-size: calc($font-head4 - 16px);
      line-height: 18.34px;
    }

    h3 {
      margin-top: 8px;
      line-height: 27.5px;
      font-size: calc($font-head3 - 32px);
    }

    p {
      font-size: calc($font-typical - 1px);
      line-height: 25px;
      width: 327px;
      height: 84px;
    }
  }

  .crew__img {
    max-width: 177.12px;
    max-height: 222px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: 139px auto;

  }

  .crew__btn{
    height: 10px;
    left: 340px;
    top: 442px;
    button{
      margin-right: 16px;
      width: 10px;
      height: 10px;
    }
  }
}
