.destination__container{
  background-image: url("../../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.subhead{
  font-size: $font-subhead1;
  font-family: $font-alt;
  line-height: 33.6px;
  letter-spacing: 4.72px;
  margin-left: 166.5px;
  margin-top: 76px;
  margin-right: 0;
  color: $color-white;
  font-weight: 400;
  display: flex;
  gap: 18px;

    span{
      opacity: 0.25;
      font-weight: 700;
    }
}

.planet__btn{
  display: flex;
  justify-content: flex-end;
  gap: 36px;
  margin-right: 322.5px;
  margin-top: 64px;
}


.planet__container{
  display: flex;
  justify-content: center;
  gap: 157.5px;
  margin-right: 30px;
}

.planet__container__subs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 445px;
  margin-top: 37px;

  h2{
    color: $color-white;
    font-weight: 400;
    font-size: $font-head2;
    font-family: $font-base;
    line-height: 114.6px;
  }

    p{
      color: $color-purple;
      font-family: $font-alt;
      font-size: $font-general;
      line-height: 32px;
      width: 444px;
      margin-bottom: 54px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      font-style: normal;
    }

      hr{
        border: 1px solid $color-hr;
        width: 444px;
        margin-bottom: 28px;
      }
}

.planet__results{
  display: flex;
  flex-direction: row;
  gap:79px;

      span{
        line-height: 16.8px;
        font-size: $font-subhead2;
        font-family: $font-alt;
        color: $color-purple;
        letter-spacing: 2.3625px;
        margin-bottom: 12px;
      }
}

.planet__results__points{
  display: flex;
  gap: 39px;
  p{
    margin-bottom: 0;
    font-style: normal;
    font-family: $font-base;
    font-size: $font-subhead1;
    color: $color-white;
    line-height: 32.09px;
    width: auto;
  }
}

.planet__img{
  width: 445px;
  height: 445px;
}

.planet_button {
  font-weight: 400;
  color: $color-purple;
  background-color: transparent;
  border: none;
  font-size: $font-typical;
  font-family: $font-alt;
  letter-spacing: 2.7px;
  line-height: 19.2px;
  padding-bottom: 12px;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom: 3px solid $color-grey-trans;
    cursor: pointer;
  }
}

@media (max-width: 900px) {
  .destination__container{
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }

  .subhead{
    margin-top: 40px;
    margin-left: 38.5px;
    font-size: calc($font-subhead1 - 8px);
  }

  .planet__container{
    flex-direction: column;
    align-items: center;
    gap: 119px;
    margin-top: 60px;
    margin-right: 0;
  }

  .planet__img{
    width: 300px;
    height: 300px;
  }

  .planet__btn {
    position: absolute;
    width: 285.5px;
    height: 34px;
    left: 35vw;
    top: 573px;
    margin: 0;

    :hover {
      border-bottom: 3px solid $color-white;
    }
  }

  .planet__container__subs{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 0;

    h2{
      font-size: calc($font-head2 - 20px);
      font-family: $font-base;
      line-height: 91.68px;
    }

    p{
      font-size: calc($font-general - 2px);
      width: 573px;
      height: 84px;
      margin-bottom: 49px;
    }

    hr{
      width: 573px;
      margin-left: -8vw;
    }
  }

  .planet__results{
    flex-direction: row;
    gap:17px;

    span{
      width: 216px;
    }
  }

  .planet__results__points{
    display: flex;
    gap: 11px;
    p{
      margin-bottom: 0;
      font-style: normal;
      font-family: $font-base;
      font-size: $font-subhead1;
      color: $color-white;
      line-height: 32.09px;
      width: 216px;
    }
  }
}

@media (max-width: 500px) {
  .destination__container{
    background-image: url("../../assets/destination/background-destination-mobile.jpg");
    height: 100vh;
  }

  .subhead{
    margin-top: 24px;
    font-size: calc($font-subhead1 - 12px);
    display: flex;
    gap: 18px;
    justify-content: center;
    line-height: 19.2px;
    margin-left: -0.3vw;
  }

  .planet__container{
    flex-direction: column;
    align-items: center;
    gap: 74px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
  }

  .planet__img{
    width: 170px;
    height: 170px;
  }

  .planet_button{
    gap: 26px;
    line-height: 16.8px;
    letter-spacing: 2.36px;

    font-size: calc($font-typical - 2px);
  }

  .planet__btn {
    position: absolute;
    height: 28px;
    left: 69px;
    top: 335px;
    width: auto;
    margin-left: -5vw;
  }

  .planet__container__subs{
    width: auto;

    h2{
      font-size: $font-head3;
      line-height: 64.18px;
    }

    p{
      font-size: calc($font-general - 3px);
      width: 327px;
      height: 125px;
      margin-bottom: 32px;
    }

    hr{
      width: 327px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .planet__results{
    flex-direction: column;
    gap:76px;

    span{
      width: auto;

    }
  }

  .planet__results__points{
    display: flex;
    flex-direction: column;
    gap: 61px;
    margin-top: -90px;
    p{
      margin-bottom: 0;
      font-style: normal;
      font-family: $font-base;
      font-size: $font-subhead1;
      color: $color-white;
      line-height: 32.09px;
      width: auto;
      height: auto;
    }
  }
}


@media (max-height: 890px) {
  .destination__container{
    height: auto;
  }

  .planet__results__points {
    :last-child {
      margin-bottom: 50px;
    }
  }
}