.home__container {
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.home__container__section {
  width: 450px;
  height: 382px;
  margin-top: 298px;
  margin-left: 165px;

  span {
    font-family: $font-alt;
    font-weight: 400;
    font-size: $font-subhead1;
    letter-spacing: 4.72px;
    color: $color-purple;
  }
}

.home__container h1 {
  font-size: $font-head1;
  font-family: $font-base;
  margin: 24px 0;
  line-height: 171.9px;
}

.home__container p {
  width: 444px;
  height: 128px;
  font-family: $font-alt;
  font-style: normal;
  color: $color-purple;
  font-size: $font-general;
  line-height: 32px;
}

.home__btn {
  position: absolute;
  top: 495px;
  right: 0;
  margin-right: 165px;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  font-family: $font-base;
  font-size: $font-head4;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;

  &:hover {
    outline: 88px solid rgba(225, 225, 225, 0.1);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    mix-blend-mode: normal;
  }
}

@media (max-width: 900px) {
  .home__container {
    background-image: url("../../assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  .home__container__section {
    margin-top: 106px;
    margin-left: 159px;
    text-align: center;
  }

  .home__btn {
    position: absolute;
    width: 242px;
    height: 242px;
    left: 263px;
    top: 692px;
  }
}

@media (max-width: 600px) {

  .home__container {
    background-image: url("../../assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  .home__container__section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    width: 327px;
    height: 276px;

    span {
      font-size: calc($font-subhead1 - 12px);
      letter-spacing: 2.7px;
    }
  }

  .home__container h1 {
    font-size: calc($font-head1 - 70px);
    margin: 16px 0;
    line-height: 100px;
  }

  .home__container p {
    width: 327px;
    height: 125px;
    font-size: calc($font-general - 3px);
    line-height: 25px;
  }

  .home__btn {
    position: absolute;
    top: 469px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    width: 150px;
    height: 150px;
    background-color: $color-white;
    border: none;
    border-radius: 50%;
    font-family: $font-base;
    font-size: calc($font-head4 - 12px);
    letter-spacing: 1.25px;

    &:hover {
      outline: none;
    }
  }
}