@media (max-width: 600px) {
  .mobile-nav {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    z-index: 10;
    img {
      position: absolute;
      right: 5vw;
      z-index: 100;
    }
  }

  .menu__container .mobile-nav__img__hamburger {
    width: 24px;
    height: 21px;
    margin-top: 33px;
  }

  .menu__container .mobile-nav__img__close {
    width: 19.09px;
    height: 19.09px;
    margin-top: 33.95px;
  }

  .mobile-nav ul {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: $color-white-trans;
    backdrop-filter: blur(81.5485px);
    padding-top: 118px;

    li {
      color: $color-white;
      font-size: $font-nav;
      font-weight: 400;
      font-family: $font-alt;
      letter-spacing: 2.7px;
      line-height: 19.2px;
      width: 254px;
      margin-bottom: 32px;
      padding-left: 32px;

      span {
        font-weight: 700;
        border: none;
      }
    }
  }

  .mobile-nav a {
    text-decoration: none;

    :hover{
      border: none;
    }

      span {
        border-bottom: none;
      }
    }

  a.active li{
    border-right: 4px solid $color-white;
    border-bottom: none;
  }

  .links__container {
    display: none;
  }
}
