.menu__container{
  display: flex;
  justify-content: space-between;
  margin-left: 55px;
  position: relative;

  img{
      margin-top: 64px;
      width: 48px;
      height: 48px;
    }
}

.line__nav{
  max-height: 0;
  color: $color-white;
  width:473px;
  text-align:left;
  margin-left:107px;
  margin-top: 88px;
  opacity: 0.25;
  position: absolute;
  z-index: 10;
}

.links__container{

  ul{
    display: flex;
    margin-top: 40px;
    background-color: $color-white-trans;
    backdrop-filter: blur(81.5485px);
    height: 96px;
    width: 830px;
    margin-right: 0;
    justify-content: center;
    gap: 48px;
    align-items: center;
    text-decoration: none;
  }

  li{
    color: $color-white;
    font-size: $font-nav;
    font-weight: 400;
    font-family: $font-alt;
    letter-spacing: 2.7px;
    border: 3px solid transparent;
    padding: 37px 0;

      span{
        font-weight: 700;
        border: 3px solid transparent;
      }
  }
}

.menu__container a{
  text-decoration: none;

  :hover{
    border-bottom: 3px solid $color-grey-trans;
      span{
        border-bottom: 3px solid transparent;
      }
  }


}
a.active{
  border-bottom: 3px solid $color-white;
}

